.TourCards {
  display: flex;
  justify-content: space-between;
}

.Title {
  font-size: 24px;
  border-bottom: 2px solid rgb(225, 225, 225);
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.FilterBox {
  margin-bottom: 40px;
  border-left: 3px solid var(--primary-color);
  padding-left: 10px;
}
