.section {
  height: 500px;
  background-image: url("./hero-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section div {
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.4),
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1),
    rgba(0, 0, 0, 0.4)
  );
}
