/* Footer */

footer.footer {
  width: 100%;
  background-color: #f8f9fa;
  color: #5c5c5c;
}

footer > .section-1 {
  border-bottom: #e5e7e9 1px solid;
  padding: 30px 0;
}

footer > .section-2 {
  border-bottom: #e5e7e9 1px solid;
  padding: 30px 0;
}

footer > .section-3 {
  padding: 30px 0;
}

h5.footer-heading {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 25px;
}

h6.footer-heading {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 25px;
}

p.footer-contact-detail {
  margin-bottom: 5px;
}

/* Mobile Nav */

.mobile-navigation {
  display: none;
}

@media (max-width: 991px) {
  header.navigation {
    display: none;
  }

  .mobile-navigation {
    display: block;
    padding: 25px 0;
  }
}
